.dark {
  /* background-image: linear-gradient(to top, #222, #222); */
  background-color: #222;
}

body {
  background-color: rgba(187, 187, 187, 0.3);
  /* background-image: linear-gradient(to bottom, rgb(222, 222, 222), rgb(175, 175, 175)); */
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
  transition: 0.3s;
}

.dark-mode {
  position: absolute;
  background-color: black;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode::after {
  content: "Dark";
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.02px;
}

.dark .dark-mode::after {
  content: "Light";
  position: absolute;
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.02px;
}

.dark .dark-mode {
  background-color: white;
}

.dark-mode:hover {
  opacity: 0.7;
}

.container {
  width: 600px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 100px auto;
  color: white;
}
.title {
  background-color: #3f51b5;
  font-size: 40px;
  font-weight: 600;
  padding: 15px 0;
  border-radius: 5px;
  margin: 15px 0;
}
span {
  color: #ffeb3b;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.square {
  width: 184px;
  height: 184px;
  background-color: #3f51b5;
  margin: 2px;
  float: left;
  font-size: 80px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.square:hover {
  background-color: rgb(28, 185, 57);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
}
.dark .square:hover {
  background-color: #30c035;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.15);
}
.rotate {
  transform: rotateY(180deg);
}
.rotate--360 {
  animation: rotate-1 1s linear forwards;
  box-shadow: 0 0 32px 3px rgb(255, 255, 255);
}
.rotate--3 {
  animation: rotate 1s linear forwards;
  box-shadow: 0 0 32px 3px black;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotateY(0) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotate-1 {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotateY(0) scale(1.2);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
